<div class="content">
	<div class="content_head pc">
		<div class="content_head-title fz24 fw5">Hello Evano</div>
		<div class="content_head-img">👋🏼,</div>
	</div>

	<div class="content_body">
		<div class="content_item">Product</div>
		<div class="content_item active">
			<div class="head">
				<div class="head_text">
					<div class="head_text-title fz22 fw6">All Customers</div>
					<div class="head_text-subtitle fz14 fw4">Active Members</div>
				</div>

				<div class="head_form">
					<input 
					class="head_form-input fz12 fw4"
					placeholder="Search" 
					type="search">
					<div class="head_form-icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#7E7E7E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M21 21L16.65 16.65" stroke="#7E7E7E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
				</div>
			</div>

			<div class="table">
				<div class="table_head">
					<div class="table_head-title fz14 fw4">Customer Name</div>
					<div class="table_head-title fz14 fw4">Company</div>
					<div class="table_head-title fz14 fw4">Phone Number</div>
					<div class="table_head-title fz14 fw4">Email</div>
					<div class="table_head-title fz14 fw4">Country</div>
					<div class="table_head-title fz14 fw4">Status</div>
				</div>

				<div class="table_wrap-pages">
					<div class="table_data active">
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Jane Cooper</div>
							<div class="table_data_item-text fz14 fw4">Microsoft</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(225) 555-0118">(225) 555-0118</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:jane@microsoft.com">jane@microsoft.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">United States</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_active">
									Active
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Floyd Miles</div>
							<div class="table_data_item-text fz14 fw4">Yahoo</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(205) 555-0100">(205) 555-0100</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:floyd@yahoo.com">floyd@yahoo.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Kiribati</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_inactive">
									Inactive
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Ronald Richards</div>
							<div class="table_data_item-text fz14 fw4">Adobe</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(302) 555-0107">(302) 555-0107</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:ronald@adobe.com">ronald@adobe.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Israel</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_inactive">
									Inactive
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Marvin McKinney</div>
							<div class="table_data_item-text fz14 fw4">Tesla</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(252) 555-0126">(252) 555-0126</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:marvin@tesla.com">marvin@tesla.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Iran</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_active">
									Active
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Jerome Bell</div>
							<div class="table_data_item-text fz14 fw4">Google</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(629) 555-0129">(629) 555-0129</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:jerome@google.com">jerome@google.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Réunion</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_inactive">
									Inactive
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Kathryn Murphy</div>
							<div class="table_data_item-text fz14 fw4">Microsoft</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(406) 555-0120">(406) 555-0120</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:kathryn@microsoft.com">kathryn@microsoft.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Curaçao</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_active">
									Active
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Jacob Jones</div>
							<div class="table_data_item-text fz14 fw4">Yahoo</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(208) 555-0112">(208) 555-0112</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:jacob@yahoo.com">jacob@yahoo.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Brazil</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_active">
									Active
								</div>
							</div>
						</div>
						<div class="table_data_item">
							<div class="table_data_item-text fz14 fw4">Kristin Watson</div>
							<div class="table_data_item-text fz14 fw4">Facebook</div>
							<div class="table_data_item-text fz14 fw4 phone">
								<a class="fz14 fw4" href="tel:(704) 555-0127">(704) 555-0127</a>
							</div>
							<div class="table_data_item-text fz14 fw4 mail">
								<a class="fz14 fw4" href="mailto:kristin@facebook.com">kristin@facebook.com</a>
							</div>
							<div class="table_data_item-text fz14 fw4">Åland Islands</div>
							<div class="table_data_item-text fz14 fw4">
								<div class="status-container status_inactive">
									Inactive
								</div>
							</div>
						</div>
					</div>
					<div class="table_data">
						test
					</div>
				</div>
			</div>

			<div class="pagination">
				<div class="pagination_result fz14 fw4">
					Showing data 1 to 8 of  256K entries
				</div>
				<div class="pagination_items">
					<div class="pagination_item">
						<a
						class=" pagination_item-btn fz12 fw4" 
						href="###">
							<svg 
							width="5" 
							height="7" 
							viewBox="0 0 5 7" 
							fill="none" 
							xmlns="http://www.w3.org/2000/svg">
								<path d="M2.936 6.392L0.176 3.668L2.936 0.944H4.664L1.892 3.668L4.664 6.392H2.936Z" fill="#404B52"/>
							</svg>
						</a>
					</div>
					<div class="pagination_item active">
						<a 
						class="pagination_item-btn fz12 fw4" 
						href="###">1</a>
					</div>
					<div class="pagination_item">
						<a 
						class=" pagination_item-btn fz12 fw4" 
						href="###">2</a>
					</div>
					<div class="pagination_item">
						<a 
						class="pagination_item-btn fz12 fw4" 
						href="###">3</a>
					</div>
					<div class="pagination_item">
						<a 
						class="pagination_item-btn fz12 fw4" 
						href="###">4</a>
					</div>
					<div class="pagination_item dot">
						<div class="pagination_item-btn fz12 fw4">
							...
						</div>
					</div>
					<div class="pagination_item">
						<a
						class="pagination_item-btn fz12 fw4" 
						href="###">40</a>
					</div>
					<div class="pagination_item">
						<a 
						class=" pagination_item-btn fz12 fw4"  
						href="###">
							<svg 
							width="5" 
							height="7" 
							viewBox="0 0 5 7" 
							fill="none" 
							xmlns="http://www.w3.org/2000/svg">
								<path d="M0.344 0.944H2.072L4.832 3.668L2.072 6.392H0.344L3.116 3.668L0.344 0.944Z" fill="#404B52"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content_item">Income</div>
		<div class="content_item">Promote</div>
		<div class="content_item">Help</div>
	</div>
</div>